:root{
    --primary-color: #0BBF53;
    --success-color: #2691d9;
    --error-color: #e74c3c;
    --word-color: #2D374B;
    --bgr-color: #708cc5;
}

.modal_Login{
    background: var(--bgr-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.modal_login--inner{
    width: 400px;
    border: none;
    border-radius: 10px;
    background: white;
    padding: 40px;
   
}

.modal_login--inner h1{
    text-align: center;
}

.form-control{
    width: 100%;
    position: relative;
     margin-top: 40px;
}

.form-control input{
    width: 100%;
    height:40px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}

.form-control span{
    border-bottom: 2px solid var(--success-color);
    position: absolute;
    top: 38px;
    width: 0%;
    left: 0;
    transition: 0.3s;
}

.form-control input:focus ~ span{
    width: 100%;
}

.form-control.error small{
    color: var(--error-color);
}

.form-control.error input{
    border-bottom: 2px solid var(--error-color);

}

.modal_login--inner button{
    margin: 25px 0;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.modal_login--inner button:hover{
     background: #08609a;
}

.signup-link{
    text-align: center;;
}

.signup-link a{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.signup-link a:hover{
    text-decoration: underline;
}

.display{
    display: none;
}